@font-face {
    font-family: 'library';
    src: url(./Fonts/web-fonts/cinzeldecorative_regular_macroman/CinzelDecorative-Regular-webfont.woff) format('woff');
}
@font-face {
    font-family: 'library-bold';
    src: url(./Fonts/web-fonts/cinzeldecorative_bold_macroman/CinzelDecorative-Bold-webfont.woff) format('woff');
}

:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'library-bold',Arial, Helvetica, sans-serif;
    --unit: 1vh;
}
p{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('./Images/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
header{
    background-color: rgba(255, 255, 255, 0.3);
    height: calc(10* var(--unit));
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(1rem + calc(5 * var(--unit)));
    box-shadow: 1px 1px 20px black;
}
main{
    display: grid;
    gap: 20px;
    grid-template-columns:repeat(auto-fill, minmax(calc(26*var(--unit)),1fr));
    padding: calc(3 * var(--unit));
}

.add-book svg{
    width: 100px;
}

.add-book{ 
    border: 2px double #36647c;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.683);
    padding: calc(1*var(--unit));
    min-height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(1rem + calc(2 * var(--unit)));
    font-family: 'library-bold';
    transition: all 0.3s;
}

.add-book:hover{
    cursor:pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0.492);
    fill: white;
    outline: none;
    color: white;
}

.book-container{
    display: grid;
    grid-template-rows: 3fr 1fr 1fr 1fr;
    gap: 40px;
    align-items: start;
    font-size: calc(1rem + calc(0.4 * var(--unit)));
    border: 2px double #36647c;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.683);
    padding: calc(1*var(--unit));
    min-height: 200px;
    text-align: center;
}
.name{
    font-size: calc(1rem + calc(1 * var(--unit)));
    text-wrap: wrap;
}
.author{
    font-family: 'library',Arial, Helvetica, sans-serif;
    font-size: calc(1rem + calc(0.4 * var(--unit)));
}
.read{
    color: rgb(18, 171, 18);
}
.red{
    color: red;
}
dialog{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    align-self: center;
    justify-self: center;
    background-color: #e3d6bc00;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
    transition: all 0.5s;
    
}
@starting-style {
    dialog[open] {
      opacity: 0;
      transform: scaleY(0);
    }
}

.dialog-holder{
    border: none;
    box-sizing: border-box;
    background-color: #e3d6bc;
    border: 9px double #2f586e;
    color: #1a2543 ;
    border-radius: 15px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
::backdrop {
    background-color: black;
    opacity: 0.75;
  }
.dialog-head{
    font-size: calc(1rem + calc(4 * var(--unit)));
}
.dialog-prom{
    font-size: calc(1rem + calc(1 * var(--unit)));
    border-bottom: 3px solid #e48344;
}
form{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    font-size: calc(1rem + calc(1 * var(--unit))); 
}
input{
    flex-shrink: 1;
    width: 95%;
    font-size: calc(1rem + calc(0.9 * var(--unit))); 
    border-radius: 10px;
    border: 3px solid #2f586e;
}
input[type="checkbox"] {
    appearance: none;
}
input[type="checkbox"] {
    position: relative;
    width: 25px;
    height: 25px;
    border: 3px solid #2f586e;
    /* Set here so that Windows' High-Contrast Mode can override */
    color: green;
    outline: none;
  }
input[type="checkbox"]::before {
    content: "✔";
    position: absolute;
    font-size: calc(1rem + calc(1 * var(--unit)));
    right: -2px;
    top: -5px;
    visibility: hidden;
}
input[type="checkbox"]:checked::before {
    /* Use `visibility` instead of `display` to avoid recalculating layout */
    visibility: visible;
  }

.read-container{
    display: flex;
}
button.add{
    font-family: 'library-bold';
    flex-shrink: 1;
    width: 95%;
    font-size: calc(1rem + calc(0.9 * var(--unit))); 
    border-radius: 30px;
    padding: var(--unit);
    background:linear-gradient(to right, #285050, #02191f);;
    border: none;
    margin: 10px 0;
    color: #e3d6bc;
}
.add:hover{
 color:white;
 background:linear-gradient(to right, #346e6e, #012933);;
}
.cancel{
    font-family: 'library-bold';
    flex-shrink: 1;
    width: 95%;
    font-size: calc(1rem + calc(0.9 * var(--unit))); 
    border-radius: 30px;
    padding: var(--unit);
    border: none;
    margin: 10px 0;
    color: #e3d6bc;
    background: linear-gradient(to right,#e48344, #72301d);
}
.cancel:hover{
    color: white;
    background: linear-gradient(to right,#ff6f0f, #72301d);
}


@media (max-width:600px){
    :root{
        --unit: 2vw;
    } 
    body{
        background-repeat: repeat;
    }

    dialog,
    .dialog-holder{
        box-sizing: border-box;
        width: 88vw;
    }
}